Gan Detection/GANimageDetection-main/*/*.png
Gan Detection/GANimageDetection-main/*/*.pth
Gan Detection/GANimageDetection-main/.idea
Gan Detection/GANimageDetection-main/__pycache__
Gan Detection/GANimageDetection-main/*/*.ckpt