Gan_Detection/GANimageDetection-main/*/*.png
Gan_Detection/GANimageDetection-main/*/*.pth
Gan_Detection/GANimageDetection-main/.idea
Gan_Detection/GANimageDetection-main/__pycache__
Gan_Detection/GANimageDetection-main/*/*.ckpt